# **Objectives**

 * [Introduction to Python](#scrollTo=2F2ZYWa-Jby8)

* **Hands-on**

 * [Variables and Data Types](#scrollTo=kfTgkZkLJby_)
 * [Math Operators](#scrollTo=9hNbCDmNJbzH)
 * [Comments & Exercise 1](#scrollTo=od8pPtXZJbzL)
 * [Strings](#scrollTo=LqLwpXewJbzM)
 * [Lists & Tuples](#scrollTo=Y_Kqnin6JbzY)
 * [Sets & Dictionaries](#scrollTo=FStAtNEfJbzo)
 * [Exercise 2](#scrollTo=HY2I6gLsT7eh)
 * [Bonus Exercise](#scrollTo=UBX28RhQJbjx) <br>


## **Using LLM AI as a coding tutor when learning this workshop on your own.**
There are several ways that LLM can help improve your self-learning process. LLM AI can be used as a coding tutor to help:
* Explain new concepts in other words. Ask it to give basic, intermediate, or advanced explanations of coding concepts depending on your familiarity and comfort level.
* Guide you through the exercises and explain the logic and code. If you get stuck with the exercises, you can ask a LLM to give you a step-by-step guide to the exercise so you better understand the learning objectives. For best results, be very specific with the LLM AI so it has the necessary context to best help you.

* Give you more exercises. If you aren't sure you understand a concept and want to test your knowledge, ask a LLM AI to give additional exercises to help test your abilities and understanding. They can be coding problems, multiple choice, fill in the blank, or whatever will work best for your learning style. Be creative and get the support you want.  

The AI has infinite patience, so ask as many questions as you want!

### **The Food Emojis**

As you go through this workshop, you will notice **Food Emojis** embedded throughout. They accompany bolded terms that are the fundamental concepts that python programming is built upon. The key thing here is **if you see an emoji, consider asking a LLM AI about the bolded concept**. For fun, we have gamified this by thinking of the emojis as dishes you can collect on a world food tour.
  - To collect all the dishes, you should follow the workshop section by section and add your found dish (new coding concept) to the end of the following prompt and take it to LLM AI:

 `You are going to take on the role of an excellent python coding tutor. I'm a beginner learning to program in python. In simple terms, please give me an overview and explanation of the following concept:  `

  - You can add more surrounding components to the prompts to make it more clear. For example, maybe you know another language and want LLM AI to compare how the concept works in R or C++ to help you better understand.

### **Disclaimer**
- Outputs may be inaccurate, untruthful, and otherwise misleading.
- It may produce biased content.
- It will not cite sources.
  
Always use caution when interacting with LLM AI systems. Despite the large bounds in progress and capability, they are still in early versions and teams of people are working to fix short comings and mistakes each and every day. Despite how useful they can be as coding tutors, it is important to remember that their outputs should be met with a healthy amount of skepticism.

## **Introduction**
* Developed in early 90‚Äôs by **Guido Van Rossum**

### What is üçï**Python Programming Language**
* General purpose,
 * *High Level*
 * *Structured*
 * *Interpreted*
 * *Object-oriented Language*

* Simple, Portable, Open source & Powerful

### **Ways to run Python**
* Interactive Interpreter (Classic command line interpreter or Python Shell) - Run as a calculator or used to run a python program
* Script from command line - Used to run a python program
* General purpose Integrated Development Environment (IDE) - Eclipse, Netbeans, etc
* Python dedicated IDEs like Pycharm, Spyder, IDLE
* Web-based interactive computational environment like Jupyter Notebooks, Google Colaboratory, etc
---
Did you notice the first food emoji? Here is an example of how to use the sample prompt given above:

 `You are going to take on the role of an excellent python coding tutor. I'm a beginner learning to program in python. In simple terms, please give me an overview and explanation of the following concept: Python Programming Language `

## **Variables and Data Types**

### üçî**Variables**
* Stores a piece of data and gives it a specific name
* Do not need to specify data type (No Declaration needed)
* Equal sign **( = )** is used to assign values to variables

In [1]:
v = 98

**' v '** is the variable name
<br>
**' = '** is the assignment operator
<br>
**98** is the value

#### **Variable names**
* No spaces allowed (Use underscore or init caps, example - 'my_name' or 'myName')
* No special symbols or characters like '"@#%^&()-/\* except the underscore '_'
* Cannot begin with a number but may have a number within the variable name
* The python community by convention begin variable names with small letters but caps are allowed anywhere else

In [5]:
my_name = 'Ellen'

In [3]:
v_1 = 8
v_2 = 9

#### **Using a variable**
To use a variable, just type out the variable name.
<br>
See examples below

In [6]:
print(my_name)

Ellen

In [7]:
age = v_1 + v_2

In [8]:
print ('I am', age, 'years old')

I am 17 years old

**<h5><center>Note</center></h5>**


**'print'** is a function that displays its arguments (inputs). It can take multiple arguments (inputs) separated by commas '**,**'.
<br>
We will introduce **functions** later

### ü•ñ**Data types**
Data Types are implied. They do not have to be declared
* Numeric types - int, float, complex
* Boolean - True, False
* String
* List
* Tuple
* Dictionary
* Set

## **Math Operators**

#### **Addition ( + )**

In [9]:
2+3

5

#### **Subtraction ( - )**

In [10]:
9-3

6

#### **Multiplication ( * )**

In [11]:
3*8

24

#### **Division( / )**

In [12]:
3/2

1.5

#### ü•ê**Floor Division ( // )**

In [13]:
3//2

1

#### ü•û**Modulus( % )**

In [14]:
9%5

4

#### **Exponent**( ** )

In [15]:
2**3

8

## üçñ**Comments**
* Single line commenting symbol is the hash symbol '#'
* The interpreter ignores everything after #
* Leave comments in your code to make it understandable to other team members and for yourself

In [16]:
# This line is ignored

* Multi-line - Not supported in Python
* Use the # on each line of a multiline comment

In [17]:
# This is a multiline comment
# This line and the line above are both ignored by the interpreter

## **Exercise 1**
#### **Tip Calculator!!**
Cost of meal = 54.76
<br>
Tax = 7.85%
<br>
Tip = 15%
<br>
Find the tax amount, cost after the tax, tip amount, and total cost

In [21]:
# Create a variable for cost of meal, tax and tip and assign their values
# Note that percentage is not captured in programming languages. Divide by 100 instead.
cost_of_meal = 54.76
tax = .0785
tip = .15





# Calculate tax amount by creating a variable for it and assign it to a formula using the variables for cost of meal and tax
tax_amount = cost_of_meal * tax

# Calculate cost after tax
mealAndTax = cost_of_meal + tax_amount

# Calculate tip amount
# Hint: Calculate the tip amount the cost after tax
tip_amount = mealAndTax * tip

# Calculate total amount
total = tip_amount + mealAndTax

print('My original meal cost is', cost_of_meal)

# Follow the example above and print the tax amount
print('tax amount is', tax_amount )

# Print the cost after tax
print ('cost after tax is', mealAndTax)

# Print the tip amount
print('tip is', tip_amount)

# Print the total cost of the meal
print('total cost of meal is', total)

My original meal cost is 54.76
tax amount is 4.29866
cost after tax is 59.058659999999996
tip is 8.858799
total cost of meal is 67.917459

## üçó**Strings**
Any strand of all characters on the keyboard put in quotation.
#### One line strings - declared in single quotes (' ') or double quotes (" ")
Single and double quotes can be used interchangeably

In [2]:
name_1 = 'John Wick'
name_2 = "Indiana Jones"

In [3]:
# this is a string and not an integer
age = '2'

In [4]:
# Start with a double quote if you use a single quote in your string
f = "This is Del's pencil"

In [5]:
# Start with a single quote if you use a double quote in your string
f = 'Francis said "This is my pencil"'

In [6]:
print (f)

Francis said "This is my pencil"

#### **Multi-line strings - declared in triple quotes ( """ """ or ''' ''' )**

In [7]:
eg = """I am in the CEAS library in
Introduction to Python session """

In [8]:
print(eg)

I am in the CEAS library in
Introduction to Python session

## ü•ì**String Indexing**
**Each character can be accessed by using their index starting from index 0**

In [9]:
name = 'Johnson Smith'

In [10]:
name[0]

'J'

In [11]:
name[1]

'o'

In [12]:
name[7]

' '

In [13]:
name[12]

'h'

**You can start indexing from the right side with negative indexes starting with index -1**

In [14]:
name[-1]

'h'

In [15]:
name[-2]

't'

In [16]:
name[-13]

'J'

### üçü**String Slicing**


**You can extract a range of characters**
<br>
Assume a string variable called **'var'**
<br>
**var[starting index : ending index + 1]**

In [17]:
name

'Johnson Smith'

In [18]:
name[0:6]

'Johnso'

In [19]:
name[7:13]

' Smith'

In [20]:
name[1:4]

'ohn'

**<h5><center>Note</center></h5>**

**Strings are "IMMUTABLE"**
Once you create a string object, you cannot change a particular string location.
<br>
**name[6] = 'c'**
<br>
will result in the error below


---



TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-44-d47a2608aba2 > in < module >()
<br>
----> 1 name[6]='-'
<br>
TypeError: 'str' object does not support item assignment


---


ü¶ê **Tip:** Try copy and pasting the error message above into LLM AI for more explanation and examples on string immutability.

In [21]:
name[6] = 'c'

TypeError: 'str' object does not support item assignment

### ü•ó**Some String Functions and Methods**

In [22]:
name = 'Johnson Smith'

**Length of string**

In [23]:
len(name)

13

**Convert to string**

In [24]:
age = 3

In [25]:
str(age)

'3'

**Convert to lower case**

In [26]:
name.lower()

'johnson smith'

**Convert to upper case**

In [27]:
name.upper()

'JOHNSON SMITH'

**Is digit/Is alpha**

Output is a Boolean value (True/False)

In [28]:
name = 'Francis'

In [29]:
name.isdigit()

False

In [30]:
name.isalpha()

True

In [31]:
str(age).isdigit()

True

**Replace characters**

In [32]:
name.replace('s','k')

'Francik'

**Split a string using a delimiter character**

In [33]:
text = 'I am going to the University of Cincinnati'
name = "Mary-Jane Watson"

In [34]:
text.split(' ')

['I', 'am', 'going', 'to', 'the', 'University', 'of', 'Cincinnati']

In [35]:
name.split('-')

['Mary', 'Jane Watson']

### ü•ô**String Concatenation**
**Combining of strings is done by using the (+) operator between them**

In [36]:
string1 = 'My name is '
name = 'John'
string2 = string1 + name
print(string2)

My name is John

**In order to combine a string with a non-string variable, use str( ) method to convert non-strings to strings**
<br>
You cannot concatenate a string with a non-string type without converting the non-string type to a string.
<br>
No conversion will result in error similar tp the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-77-887da7680fd9 > in < module >( )
<br>
----> 1 string1 + 9
<br>
TypeError: must be str, not int

In [37]:
string1 = 'My name is '
name = 'John '
age = 16
string2 = string1 + name + 'I am ' + str(age) + ' years old'
print(string2)

My name is John I am 16 years old

## ü•ò**Lists**
* A datatype that can store a collection of different pieces of information as a sequence under a single variable name
* **Creating lists** - Put comma separated values within square brackets. Values can be of different data types

In [38]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

### ü•ö**Accessing values in a list via indexing**
* Same as String objects.
* Elements or a range of elements can be accessed by index

In [39]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

In [40]:
list1[0]

'physics'

In [41]:
list1[1]

'astronomy'

In [42]:
list1[4]

-9.36

In [43]:
list1[-1]

-9.36

In [44]:
list1[1]

'astronomy'

In [45]:
list1[-2]

'MJ'

In [46]:
list1[1][3]

'r'

In [47]:
list2[3]

[3, 4, 65]

In [48]:
list2[3][2]

65

In [49]:
list1[0:4]

['physics', 'astronomy', 56.98, 'MJ']

In [50]:
list2[3:5]

[[3, 4, 65], 'EE']

### üç≤**List Concatenation**
**Can be done by using the (+) operator between two lists**

In [51]:
[1,2,3] + [5,6,7]

[1, 2, 3, 5, 6, 7]

In [52]:
list1 + list2

['physics',
 'astronomy',
 56.98,
 'MJ',
 -9.36,
 'chemistry',
 'biology',
 77.98,
 [3, 4, 65],
 'EE',
 -56]

### üçö**Some List Functions and Methods**

In [53]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

**Length of a list**

In [54]:
len(list1)

5

In [55]:
len(list2)

6

**Maximum/Minimum value**

In [56]:
list3 = [3,4,67,2,1]
list4 = ['3','4','67','2','1','four','three']

In [57]:
max(list3)

67

In [58]:
min(list3)

1

**Append object to list**

In [59]:
list4

['3', '4', '67', '2', '1', 'four', 'three']

In [60]:
list4.append('two')
list4.append('three')
list4

['3', '4', '67', '2', '1', 'four', 'three', 'two', 'three']

**Insert object**

In [61]:
list4

['3', '4', '67', '2', '1', 'four', 'three', 'two', 'three']

In [62]:
list4.insert(3,56)
list4

['3', '4', '67', 56, '2', '1', 'four', 'three', 'two', 'three']

**Frequency of object**

In [63]:
list4.count('three')

2

**Return index**

In [64]:
list4.index('1')

5

**Delete object**

*By Index position*

In [65]:
list4

['3', '4', '67', 56, '2', '1', 'four', 'three', 'two', 'three']

In [66]:
list4.pop(3)

56

In [67]:
list4

['3', '4', '67', '2', '1', 'four', 'three', 'two', 'three']

*By element referencing*

In [68]:
list4.remove('67')

In [69]:
list4

['3', '4', '2', '1', 'four', 'three', 'two', 'three']

**Reverse the list**

In [70]:
list4.reverse()
list4

['three', 'two', 'three', 'four', '1', '2', '4', '3']

**Sort the list (natural order)**

In [71]:
list3

[3, 4, 67, 2, 1]

In [72]:
list3.sort()
list3

[1, 2, 3, 4, 67]

**<h5><center>Note</center></h5>**

**Lists are "MUTABLE"**

In [73]:
list4

['three', 'two', 'three', 'four', '1', '2', '4', '3']

In [74]:
list4[5] = 5
list4

['three', 'two', 'three', 'four', '1', 5, '4', '3']

## üçú**Tuples**
**Tuples are sequences, just like lists except**
* Tuples are immutable - cannot be changed or updated like lists
* Tuples use parentheses ( ), whereas lists use square brackets [ ]

In [75]:
tup = (3,4,67,2,1)

**tup[2] = 8**
<br>
will result in the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-177-256383ac5724 > in < module >()
<br>
----> 1 tup[2] = 8
<br>
TypeError: 'tuple' object does not support item assignment

## üç§**Sets**

* A set is an unordered, unindexed collection of data
* Sets are defined using '{ }'
* Returns only unique values, no duplicates
* Sets are mutable

In [76]:
tech = {'google','amazon','apple','tesla','microsoft','apple', 'google'}
tech

{'amazon', 'apple', 'google', 'microsoft', 'tesla'}

## **Dictionary**

* Similar to a list except values are accessed by looking up a **key** instead of an index
* A key can be a string or number
* üçù**Creating dictionaries** - **key-value** pairs are separated by colons (**:**), items are separated by commas (**,**) and everything is enclosed in curly braces { }

In [77]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}

* üç† **Accessing values**

In [78]:
dict1['age']

23

In [79]:
dict2['worked-for']

['Ford', 'TWR', 'Aston Martin']

In [80]:
dict2['worked-for'][1]

'TWR'

* **Updating dictionary** - Dictionaries are MUTABLE.
<br>
  You may **modify an existing entry** and **add new entry**

In [81]:
dict1['subjects'] = ["OS",'DBMS','Artificial Intelligence']

In [82]:
dict1

{'name': 'Daniel',
 'age': 23,
 'degree': 'MS',
 'subjects': ['OS', 'DBMS', 'Artificial Intelligence']}

In [83]:
dict1['degree']='Master of Science'

In [84]:
dict1

{'name': 'Daniel',
 'age': 23,
 'degree': 'Master of Science',
 'subjects': ['OS', 'DBMS', 'Artificial Intelligence']}

### üç£**Some Dictionary functions and Methods**

**Length of Dictionary**

In [85]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}

In [86]:
len(dict1)

3

**Return value with get method**

In [87]:
dict1.get('name')

'Daniel'

**List of key-value pairs**

In [88]:
dict1.items()

dict_items([('name', 'Daniel'), ('age', 23), ('degree', 'MS')])

**List of keys**

In [89]:
dict1.keys()

dict_keys(['name', 'age', 'degree'])

**List of values**

In [90]:
dict1.values()

dict_values(['Daniel', 23, 'MS'])

## **Exercise 2**

#### **(Strings, Lists, and Dictionaries)**
*   Create a variable with the string value - **'The quick brown fox jumps over a lazy dog'** <br>
    * Print the length of this string variable
    * **'Split'** the string using **'  '** (space character) and assign this operation to a new variable. Print the length of the new variable
    * Find the middle element of the sequence in new variable and return its value
    * **'append'** a new string value, 'number 5' (5 is an integer. Concatenate the values, 'number' and 5, while appending)
    * **'Join'** the split strings (in the new variable) with a space character and print this operation (**Hint: ' '.join(variable_name)**)

In [101]:
sentence = "The quick brown fox jumps over a lazy dog"
newOne = sentence.split(' ')
print (newOne)
middle = len(newOne)//2
print (middle)
newOne.append('number 5')
print(newOne)
finalSentence = ' '.join(newOne)
print(finalSentence)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog']
4
['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'a', 'lazy', 'dog', 'number 5']
The quick brown fox jumps over a lazy dog number 5

*   Create a dictionary from the following table. (Column Name - Keys, Corresponding Data - Values)
  * Return **'keys'** and **'values'** separately


>|Director | Movies | Academy Awards |
|------|-----|-----------|
| Q Tarantino    |<center> 10 |<center> 7  |
| C Nolan   |<center> 11 |<center>11 |
| S Spielberg    |<center> 37 |<center>3  |
| PT Anderson    |<center> 9 |<center>3  |
| M Scorsese	   | <center>25 |<center>20 |
| C Eastwood | <center>40 |<center>4 |

In [4]:
directors_dict = {
    "Director": ['Q Tarantino', 'C Nolan', 'S Spielberg', 'PT Anderson', 'M Scorsese', 'C Eastwood'],
    "Movies" : [10, 11, 37, 9, 25, 40],
    "Academy Awards": [7, 11, 3, 3, 20, 4]
}
print ("Keys:", directors_dict.keys())
print ("Values:", directors_dict.values())

Keys: dict_keys(['Director', 'Movies', 'Academy Awards'])
Values: dict_values([['Q Tarantino', 'C Nolan', 'S Spielberg', 'PT Anderson', 'M Scorsese', 'C Eastwood'], [10, 11, 37, 9, 25, 40], [7, 11, 3, 3, 20, 4]])

## **Bonus Exercise**

### **Nested Dictionary**

Create a dictionary with the following properties:

- A 'name' key for a manager's name
- A 'salary' key for a manager's salary
- A 'assistant' key for the following dictionary:
    - A 'name' key for an assistant's name
    - A 'salary' key for an assistant's salary

In [5]:
manager = {
    "name": [],
    "salary": [],
    "assistant" : {
        "name": [],
        "salary": []
    }
}

## Advanced and Future Topics
* Control Flows
* Functions and Variable scope
* Classes/Objects
* Modules and Imports
* Packages and Libraries
* File I/O
* Python for Data Analysis
* Python for Data Visualiz ation
* Error Handling and Exceptions
* List Comprehension
* Regular Expressions
* Database Access
* Multithreading

## Resources
* CEAS Library Python resources - http://guides.libraries.uc.edu/python
* Online links & tutorials
 * Python documentation - https://www.python.org/doc/
 * Python Programming wiki book - http://en.wikibooks.org/wiki/Python_Programming
 * Python tutorials - Udemy, Code academy, etc
 * For success stories - https://www.python.org/about/success

## $\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$Questions ??

$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Thank you for attending the workshop !!**


$\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;$**Your kind suggestions/feedbacks are more than welcome**